@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    background: #191919;
}

.container {
    width: min(100% - 32px, 1600px);
    margin: 0px auto;
}

nav {
    display: flex;
    padding: 40px;
    align-items: center;
    justify-content: space-between;
}

ul {
    gap: 70px;
    display: flex;
    align-items: center;
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    color: #A7A7A7;
    font-family: "Poppins", sans-serif;
}

.tesha {
    gap: 51px;
    display: flex;
    align-items: center;
}

.tosh {
    gap: 21px;
    display: flex;
    align-items: center;
}




.ben {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flins {
    gap: 10rem;
    display: flex;
    align-items: center;
}


.tao h1 {
    font-size: 59px;
    font-weight: 800;
    width: 636px;
    font-family: "Poppins", sans-serif;
}


.yato {
    color: #13B0F5;
}

.img {
    height: 349px;
    width: 349px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background: #E70FAA;
}

.hutao {
    margin-left: -50px;
}

.text{
    font-size: 48px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin-top: 20px;
}

.paragraf{
    font-size: 32px;
    color: #A7A7A7;
    text-align: center;
    margin-bottom: 80px;
    font-family: 'Poppins',  sans-serif;
}

.reze{
    gap: 104px;
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
    align-items: center;
    justify-content: center;
}

.tik{
    font-size: 28px;
    color: #A7A7A7;
    font-weight: 500;
    font-family: "Poppins";
}
.tok{
    font-size: 18px;
    font-family: 'Poppins';
    color: #A7A7A7;
    font-weight: 300;
}

.app{
    font-size: 14px;
    color: #A7A7A7;
    padding: 10px 0px;
    font-family: 'Poppins';
}

.oyil{
    width: 375px;
    background: #363636;
    border-radius: 20px;
}
.oy{
      padding: 20px;
}
.topsa{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.links{
    font-size: 16px;
}
.time{
    gap: 10px;
    display: flex;
    margin: 6px 20px;
    align-items:center;
    justify-content: center;
}

.sss{
    gap: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}